@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#9999FF,#9933FF,#6600CC)
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10000;
}
header .Logo
{
color: rgb(255, 255, 255);
font-weight: 650;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255,255,255);
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
 background:rgb(255, 255, 255);
 color: #9999FF;
}
main
{
    width: 100%;
    text-decoration: none;
    align-items: center;
    position: absolute;
    top: 50%;
    justify-content: center;
    display: flex;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
}
.txtundermain
{
    position: absolute;
    transform: translateY(150%);
    text-decoration: none;
    display:flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
main a:hover
{
 background:rgb(255, 255, 255);
 color: #9999FF;
}
main a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
 .hidden 
{  
opacity: 0;
transition: all 1s;
}
.show {
opacity: 1;
transition: all 1s;
}